.index-bg {
  background-image: url(index_image.jpg);
  background-size: 1500px 900px;
  background-repeat: no-repeat;
  font-family: 'arial', serif;
}

.about-bg {
  background-image: url(about_image.jpg);
  background-size: 1500px 900px;
  background-repeat: no-repeat;
  font-family: 'arial', serif;
}

.menu-bg {
  background-image: url(menu_image.jpg);
  background-size: 1500px 900px;
  background-repeat: no-repeat;
  font-family: 'arial', serif;
}

h1{
  color: white;
  background-color:#202020;
  font-size:50px;
  text-align: center;
  font-family: 'arial', serif;
}

h2{
  color: #202020;
  font-size:30px;
  text-align: center;
  font-family: 'arial', serif;
  background-color: none;
}

h3{
  color: white;
  font-size:26px;
  text-align: left;
  font-family: 'arial', serif;
  background-color: #202020;
  padding-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

li {
    float: center;
    color: bisque;
}

li {
  display: block;
  color: bisque;
  text-align: center;
  font-family:'arial',serif;
  font-size: 24px;
  padding: 15px 80px;
  text-decoration: none;
}

li a {
    display: block;
    color: #202020;
    text-align: center;
    font-family:'arial',serif;
    font-size: 30px;
    padding: 40 px 40px;
    text-decoration: none;
}


li a:hover {
    background-color: bisque;
    color: #4F2026;
  }

p {color: #4F2026;
  padding: 20px 20px;
  font-size:22px;
  text-align: center;
  font-family: 'arial', serif;
  background-color: white;}
